code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'),
        url('./assets/fonts/OpenSans-Regular.ttf') format('woff');
    font-display: swap;
}

html,
body,
#root,
#root > div {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1380px) {
    html,
    body {
        font-size: 16px;
        line-height: normal;
    }
}
